body {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px;
  margin: 0;
  background: #000000;
  color: #000000;
}
  
#quiz {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px #000000;
}
  
#q-container {
  margin-bottom: 20px;
}
  
#question {
  font-size: 24px;
  margin-bottom: 10px;
}
  
.btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
  
.button {
  padding: 10px 15px;
  color: #000000;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
  
#q-controls {
  justify-content: center;
  margin-top: 20px;
}
  
#q-controls.show {
  display: flex;
}
  
#start, #next {
  padding: 10px 20px;
  background-color: #008000;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}
  
#start:hover, #next:hover {
  background-color: #008000;
}
  
.hide {
  display: none;
}
  
.correct {
  background-color: #008000;
  color: #FFFFFF;
}
  
.wrong {
  background-color: #FF0000; 
  color: #FFFFFF;
}

p {
  color: #000000;
}

p.home {
  color: #FFFFFF;
  padding: 5px;
  font-size: 25px;
}

a {
  color: #FFFFFF;
}

a:visited {
  color: #FFFFFF;
}

